.gallery3 {
  margin-block-start: 0;
  margin-block-end: 20px;
}
.we-have-sltions {
  margin: 0;
  font-family: var(--font-inter);
  white-space: pre-wrap;
}
.gallery-we-have-container2 {
  position: absolute;
  top: 167px;
  left: 366px;
  letter-spacing: 1px;
  line-height: 25.2px;
  display: none;
}
.post-image {
  margin: 0;
  width: 157px;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.post-image-wrapper {
  width: 808.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-22xl) 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 470px);
}
.frame-child {
  width: 26px;
  height: 26px;
  position: relative;
}
.dashboard-httpsbitlyavi,
.dashboard-httpsbitlyavi-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dashboard-httpsbitlyavi-inner {
  align-self: stretch;
  flex-direction: column;
  padding: 209px 0 0;
}
.dashboard-httpsbitlyavi {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-ghostwhite);
  height: 100%;
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-11xs) 897px;
  box-sizing: border-box;
  gap: var(--gap-50xl);
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--body-large-regular);
}
.forgot2 {
  width: 68px;
  position: relative;
  line-height: 100%;
  text-transform: capitalize;
  display: none;
}
.manage-post {
  margin: 0;
  width: 178px;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  white-space: pre-wrap;
  display: inline-block;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.frame-item {
  height: 26px;
  width: 26px;
  position: relative;
}
.login-now-button1,
.vector-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-wrapper {
  height: 74px;
  flex-direction: row;
  padding: 0 0 var(--padding-29xl);
  box-sizing: border-box;
}
.login-now-button1 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-33xl);
  max-width: 100%;
}
.upload-image-icon {
  align-self: stretch;
  height: 16.2px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.upload-image-wrapper {
  height: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 3.8px;
  box-sizing: border-box;
}
.frame-inner {
  height: 24px;
  width: 24px;
  position: relative;
}
.frame-parent6 {
  width: 148px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 12.2px;
}
.upload-image-button,
.upload-image-button-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.upload-image-button {
  width: 575px;
  flex-direction: column;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: 55px;
}
.upload-image-button-wrapper {
  align-self: stretch;
  flex-direction: row;
}
.login-now {
  position: relative;
  line-height: 100%;
  font-weight: 600;
  display: inline-block;
  min-width: 59px;
}
.button,
.button-wrapper,
.frame-parent5 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.button {
  width: 555px;
  border-radius: var(--br-5xs);
  background-color: var(--color-midnightblue);
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-xl);
}
.button-wrapper,
.frame-parent5 {
  justify-content: flex-start;
}
.button-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-3xs);
}
.frame-parent5 {
  width: 808.8px;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-xl);
  gap: 65px;
}
.frame-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
  font-size: var(--material-2-title-size);
  color: var(--foreground-oncolor);
}
.dashboard-httpsbitlyavi-child,
.dashboard-httpsbitlyavi1,
.manage-post-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.manage-post-parent {
  align-self: stretch;
  gap: var(--gap-113xl);
}
.dashboard-httpsbitlyavi-child,
.dashboard-httpsbitlyavi1 {
  width: 903.8px;
  padding: var(--padding-22xl) 0 0;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.dashboard-httpsbitlyavi1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-ghostwhite);
  width: 100%;
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-11xs);
  gap: var(--gap-50xl);
  height: 100%;
  z-index: 3;
  text-align: right;
  font-size: var(--material-2-title-size);
  color: var(--foreground-primary);
  font-family: var(--body-large-regular);
}
.chevron-down-2-icon {
  position: absolute;
  top: 281px;
  left: 998px;
  width: 18px;
  height: 18px;
  overflow: hidden;
  z-index: 5;
}
.dashboard {
  width: 100%;
  height: 1132px;
  position: relative;
  background-color: var(--white);
  overflow: hidden;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--white);
  font-family: var(--font-lora);
}
@media screen and (max-width: 1350px) {
  .post-image-wrapper {
    max-width: 100%;
  }
  .dashboard-httpsbitlyavi-inner {
    display: none;
  }
  .dashboard-httpsbitlyavi1 {
    flex-wrap: wrap;
  }
  .dashboard {
    height: auto;
    min-height: 1132;
  }
}
@media screen and (max-width: 1125px) {
  .manage-post-parent {
    gap: 66px 132px;
  }
}
@media screen and (max-width: 800px) {
  .gallery-we-have-container2 {
    font-size: var(--font-size-7xl);
    line-height: 20px;
  }
  .dashboard-httpsbitlyavi {
    gap: 69px 34px;
  }
  .login-now-button1 {
    gap: 26px 52px;
  }
  .upload-image-button {
    gap: 27px 55px;
  }
  .frame-parent5 {
    gap: 32px 65px;
  }
  .dashboard-httpsbitlyavi1 {
    gap: 69px 34px;
  }
}
@media screen and (max-width: 450px) {
  .gallery-we-have-container2 {
    line-height: 15px;
  }
  .gallery-we-have-container2,
  .post-image {
    font-size: var(--font-size-lgi);
  }
  .dashboard-httpsbitlyavi {
    gap: 69px 17px;
  }
  .manage-post {
    font-size: var(--font-size-lgi);
  }
  .frame-parent5 {
    gap: 16px 65px;
  }
  .manage-post-parent {
    gap: 33px 132px;
  }
  .dashboard-httpsbitlyavi1 {
    gap: 69px 17px;
  }
}
