.branching-logic-icon,
.image-icon {
  position: absolute;
  left: 0;
  overflow: hidden;
  object-fit: cover;
}
.branching-logic-icon {
  width: 100%;
  height: 801px;
  margin: 0 !important;
  top: 147px;
  right: 0;
  max-width: 100%;
  flex-shrink: 0;
  animation: slide-in 1s ease forwards;
}
.image-icon {
  top: 0;
  width: 304px;
  height: 198px;
}
.ceramic-installation,
.expert-ceramic-installation {
  position: absolute;
  left: 24px;
  display: flex;
  align-items: center;
}
.ceramic-installation {
  top: 222px;
  font-weight: 500;
  width: 222px;
}
.expert-ceramic-installation {
  top: 250px;
  font-size: var(--material-2-secondary-text-size);
  color: var(--color-dimgray-100);
  width: 256px;
}
.div {
  width: 304px;
  height: 308px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--white);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  z-index: 1;
}
.data-merger {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-148xl);
  box-sizing: border-box;
  gap: 59.6px;
  max-width: 100%;
}
.rectangle,
.rectangle1 {
  align-self: stretch;
  height: 530.1px;
  position: relative;
  display: none;
  z-index: 6;
}
.rectangle1 {
  height: 107.8px;
  z-index: 7;
}
.desktop-main {
  width: 100%;
  position: relative;
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@keyframes slide-in {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@media screen and (max-width: 1200px) {
  .data-merger {
    padding-bottom: var(--padding-90xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .data-merger {
    padding-bottom: var(--padding-52xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .data-merger {
    gap: 30px 59.6px;
  }
}
@media screen and (max-width: 450px) {
  .data-merger {
    padding-bottom: 46px;
    box-sizing: border-box;
  }
  .branching-logic-icon{
    width: 100%;
    height: 801;
  }
}
