.gallery1 {
  margin-block-start: 0;
  margin-block-end: 20px;
}
.we-have-solutions {
  margin: 0;
  font-family: var(--font-inter);
}
.gallery-we-have-container {
  margin: 0 !important;
  width: 849px;
  height: 71px;
  position: absolute;
  top: 167px;
  left: calc(50% - 424px);
  font-size: inherit;
  letter-spacing: 1px;
  line-height: 25.2px;
  display: inline-block;
  font-family: inherit;
}
.frame-icon {
  width: 42px;
  height: 42px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.title,
.welcome-back {
  position: relative;
  line-height: 100%;
  font-family: var(--body-large-regular);
  text-align: left;
}
.welcome-back {
  width: 120px;
  font-size: var(--material-2-title-size);
  color: var(--text-secondary);
  display: none;
}
.title {
  margin: 0;
  font-size: var(--heading-size);
  font-weight: 600;
  color: var(--foreground-high);
}
.welcome-back-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.email {
  flex: 1;
  position: relative;
  font-size: var(--material-2-title-size);
  line-height: 100%;
  text-transform: capitalize;
  font-family: var(--body-large-regular);
  color: var(--foreground-default);
  text-align: left;
  display: inline-block;
  max-width: 100%;
}
.email-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.context {
  flex: 1;
  position: relative;
  font-size: var(--material-2-secondary-text-size);
  line-height: 100%;
  font-family: var(--body-large-regular);
  color: var(--foreground-default);
  text-align: left;
  display: inline-block;
  min-width: 107px;
  white-space: nowrap;
  max-width: 100%;
}
.iconeye {
  height: 24px;
  width: 24px;
  position: relative;
  display: none;
}
.iconeye-wrapper {
  height: 24px;
  width: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.frame-container,
.input-text,
.input-text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.input-text {
  flex: 1;
  border-radius: var(--br-5xs);
  border: 3px solid var(--color-midnightblue);
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--padding-xs) var(--padding-smi);
  gap: var(--gap-8xs);
}
.frame-container,
.input-text-wrapper {
  align-self: stretch;
  align-items: flex-start;
}
.frame-container {
  flex-direction: column;
  gap: var(--gap-xs);
}
.forgot,
.password {
  position: relative;
  font-size: var(--material-2-title-size);
  line-height: 100%;
  text-transform: capitalize;
  font-family: var(--body-large-regular);
}
.password {
  flex: 1;
  color: var(--foreground-default);
  text-align: left;
  display: inline-block;
  min-width: 60px;
  max-width: 100%;
}
.forgot {
  height: 16px;
  width: 0;
  color: var(--foreground-primary);
  text-align: right;
  display: flex;
  align-items: center;
}
.password-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  row-gap: 20px;
}
.context1 {
  flex: 1;
  position: relative;
  font-size: var(--material-2-secondary-text-size);
  line-height: 100%;
  font-family: var(--body-large-regular);
  color: var(--foreground-low);
  text-align: left;
  display: inline-block;
  min-width: 112px;
  max-width: 100%;
}
.iconeye1 {
  height: 24px;
  width: 24px;
  position: relative;
}
.iconeye-container {
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.frame-div,
.input,
.input-text1 {
  align-self: stretch;
  justify-content: flex-start;
}
.input-text1 {
  border-radius: var(--br-5xs);
  border: 1px solid var(--outline-default);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--padding-xs) var(--padding-mini);
  gap: var(--gap-8xs);
  max-width: 100%;
}
.frame-div,
.input {
  align-items: flex-start;
}
.input {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.frame-div {
  gap: var(--gap-xs);
}
.form,
.frame-div,
.frame-group {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.frame-group {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.form {
  margin: 0;
  width: 699px;
  border-radius: var(--br-xl);
  background-color: var(--white);
  box-shadow: 40px 40px 60px rgba(228, 231, 234, 0.74);
  align-items: center;
  justify-content: center;
  padding: 86.5px var(--padding-53xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  z-index: 1;
}
.form-wrapper,
.frame-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.form-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
.frame-parent {
  width: 898px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 75px;
}
.sign-up,
.sign-up-inner {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.sign-up-inner {
  width: 1204px;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-0) var(--padding-xl);
  max-width: 100%;
}
.sign-up {
  width: 100%;
  position: relative;
  background-color: var(--white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-10xl) var(--padding-0) var(--padding-0);
  gap: 46.1px;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--white);
  font-family: var(--font-lora);
}
@media screen and (max-width: 1025px) {
  .gallery-we-have-container {
    font-size: var(--font-size-7xl);
    line-height: 20px;
  }
  .frame-parent {
    gap: 37px 75px;
  }
}
@media screen and (max-width: 750px) {
  .form {
    gap: 16px 32px;
    padding: var(--padding-37xl) var(--padding-17xl);
    box-sizing: border-box;
  }
  .sign-up {
    gap: 23px 46.1px;
  }
}
@media screen and (max-width: 450px) {
  .gallery-we-have-container {
    font-size: var(--font-size-lgi);
    line-height: 15px;
  }
  .title {
    font-size: var(--font-size-3xl);
    line-height: 22px;
  }
  .forgot {
    width: 100%;
    height: 0;
  }
  .frame-parent {
    gap: 19px 75px;
  }
}
