.vector-icon1 {
  position: absolute;
  height: 25%;
  width: 50%;
  top: 37.78%;
  right: 25%;
  bottom: 37.22%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.chevron-down-1 {
  width: 18px;
  height: 18px;
  overflow: hidden;
  letter-spacing: normal;
}
