.image-icon5 {
  align-self: stretch;
  height: 198px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.painting,
.precision-painting-service {
  margin: 0;
  position: relative;
  font-family: inherit;
}
.painting {
  width: 128px;
  font-size: inherit;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.precision-painting-service {
  align-self: stretch;
  font-size: var(--material-2-secondary-text-size);
  font-weight: 400;
  color: var(--color-dimgray-100);
}
.shape-maker {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-7xs);
}
.div6,
.icon-library1,
.shape-maker {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-library1 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-5xl);
}
.div6 {
  height: 325px;
  width: 304px;
  border-radius: var(--br-xs);
  background-color: var(--white);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-inter);
}
