.fyn1,
.home {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.16px;
  line-height: 25.2px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.fyn1 {
  width: 69.6px;
  flex-shrink: 0;
}
.home {
  min-width: 68px;
}
.signal-transmitter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-7xl) var(--padding-0) var(--padding-0);
}
.gallery6 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.16px;
  line-height: 25.2px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 97px;
}
.signal-transmitter1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-16xl) var(--padding-0)
    var(--padding-0);
}
.service2,
.testimonials {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.16px;
  line-height: 25.2px;
  font-weight: 400;
  font-family: inherit;
}
.service2 {
  display: inline-block;
  min-width: 92px;
}
.testimonials {
  flex: 1;
}
.logic-operator,
.signal-receiver {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.signal-receiver {
  width: 562px;
  justify-content: flex-start;
  gap: var(--gap-8xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
  font-family: var(--font-lora);
}
.logic-operator {
  align-self: stretch;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-322xl);
  box-sizing: border-box;
}
.custom-component,
.logic-visualizer {
  position: absolute;
  margin: 0 !important;
  background-color: var(--color-midnightblue);
}
.logic-visualizer {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(53.5px);
  z-index: 2;
}
.custom-component {
  height: 73.3px;
  width: 220.7px;
  top: -20px;
  right: -64.7px;
  border-radius: 37.95px;
  z-index: 1;
}
.gallery7 {
  position: relative;
  line-height: 34px;
  display: inline-block;
  min-width: 92px;
  z-index: 3;
}
.custom-component-parent,
.data-visualizer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.data-visualizer {
  padding: var(--padding-6xl) var(--padding-51xl);
}
.alignment-helper-icon {
  height: 3px;
  width: 155px;
  position: relative;
  z-index: 1;
}
.data-linker {
  height: 3px;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-20xl);
  box-sizing: border-box;
}
.data-linker,
.flow-controller,
.value-calculator {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.flow-controller {
  flex-direction: column;
  gap: var(--gap-94xl);
}
.value-calculator {
  flex-direction: row;
  padding: var(--padding-0) var(--padding-16xl);
}
.our-service {
  margin: 0;
  width: 180px;
  position: relative;
  font-size: var(--font-size-13xl);
  letter-spacing: 0.16px;
  line-height: 25.2px;
  font-weight: 400;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
}
.data-sorter {
  width: 668px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-198xl);
  max-width: 100%;
  font-size: var(--font-size-11xl);
  color: var(--white);
  font-family: var(--material-2-secondary-text);
}
.fyn-group,
.image-icon6 {
  align-self: stretch;
  max-width: 100%;
}
.fyn-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.image-icon6 {
  height: 198px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.exquisite-marble-and1,
.marble-and-granite1 {
  margin: 0;
  position: relative;
  font-family: inherit;
}
.marble-and-granite1 {
  width: 206px;
  font-size: inherit;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.exquisite-marble-and1 {
  align-self: stretch;
  font-size: var(--material-2-secondary-text-size);
  font-weight: 400;
  color: var(--color-dimgray-100);
}
.layer-organizer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.alignment-tool,
.layer-organizer-wrapper {
  align-self: stretch;
  justify-content: flex-start;
}
.layer-organizer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-5xl);
}
.alignment-tool {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--white);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) var(--padding-5xl);
  gap: var(--gap-5xl);
}
.alignment-tool,
.color-manager,
.rotation-control {
  display: flex;
  align-items: flex-start;
}
.rotation-control {
  height: 329px;
  width: 304px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.color-manager {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-child7 {
  height: 18px;
  width: 164px;
  position: relative;
}
.frame-wrapper5 {
  align-self: stretch;
  height: 18px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-0) var(--padding-xl) var(--padding-0)
    var(--padding-8xl);
  box-sizing: border-box;
}
.color-manager-parent,
.frame-parent13 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.color-manager-parent {
  align-self: stretch;
  gap: var(--gap-4xl);
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame-parent13 {
  width: 1113px;
  gap: var(--gap-52xl);
  max-width: 100%;
}
.connection-point {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-0) var(--padding-8xl) var(--padding-123xl)
    var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
  font-family: var(--font-lora);
}
@media screen and (max-width: 1200px) {
  .frame-parent13 {
    gap: 35px 71px;
  }
  .connection-point {
    padding-bottom: var(--padding-73xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .gallery7 {
    font-size: var(--font-size-5xl);
    line-height: 27px;
  }
  .our-service {
    font-size: var(--font-size-7xl);
    line-height: 20px;
  }
  .color-manager,
  .fyn-group {
    flex-wrap: wrap;
  }
  .connection-point {
    padding-bottom: var(--padding-41xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .data-sorter {
    gap: 108px 217px;
  }
  .frame-parent13 {
    gap: 18px 71px;
  }
}
@media screen and (max-width: 450px) {
  .fyn1 {
    font-size: var(--material-2-title-size);
    line-height: 20px;
  }
  .signal-receiver {
    display: none;
  }
  .logic-operator {
    padding-bottom: var(--padding-203xl);
    box-sizing: border-box;
  }
  .gallery7 {
    font-size: var(--font-size-lg);
    line-height: 20px;
  }
  .our-service {
    font-size: var(--font-size-lgi);
    line-height: 15px;
  }
  .data-sorter {
    gap: 54px 217px;
  }
  .connection-point {
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  }
}
