.fyn,
.home {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.16px;
  line-height: 25.2px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.fyn {
  width: 69.6px;
  flex-shrink: 0;
}
.home {
  min-width: 68px;
}
.signalTransmitter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xl) 0 0;
}
.gallery {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.16px;
  line-height: 25.2px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 97px;
}
.signalTransmitter1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-16xl) 0 0;
}
.service,
.testimonials {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.16px;
  line-height: 25.2px;
  font-weight: 400;
  font-family: inherit;
}
.service {
  display: inline-block;
  min-width: 92px;
}
.testimonials {
  flex: 1;
}
.logicOperator,
.signalReceiver {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.signalReceiver {
  width: 562px;
  justify-content: flex-start;
  gap: var(--gap-8xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
  font-family: var(--font-lora);
}
.logicOperator {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 0 var(--padding-322xl);
  box-sizing: border-box;
}
.customComponent,
.logicVisualizer {
  position: absolute;
  margin: 0 !important;
  background-color: var(--color-midnightblue);
}
.logicVisualizer {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(53.5px);
  z-index: 2;
}
.customComponent {
  height: 73.3px;
  width: 220.7px;
  top: -20px;
  right: -64.7px;
  border-radius: 37.95px;
  z-index: 1;
}
.gallery1 {
  position: relative;
  line-height: 34px;
  display: inline-block;
  min-width: 92px;
  z-index: 3;
}
.customComponentParent,
.dataVisualizer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.dataVisualizer {
  padding: var(--padding-6xl) var(--padding-51xl);
}
.alignmentHelperIcon {
  height: 3px;
  width: 155px;
  position: relative;
  z-index: 1;
}
.dataLinker {
  height: 3px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
  box-sizing: border-box;
}
.dataLinker,
.flowController,
.valueCalculator {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.flowController {
  flex-direction: column;
  gap: var(--gap-94xl);
}
.valueCalculator {
  flex-direction: row;
  padding: 0 var(--padding-16xl);
}
.ourService {
  margin: 0;
  width: 180px;
  position: relative;
  font-size: var(--font-size-13xl);
  letter-spacing: 0.16px;
  line-height: 25.2px;
  font-weight: 400;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
}
.dataSorter {
  width: 668px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-198xl);
  max-width: 100%;
  font-size: var(--font-size-11xl);
  color: var(--white);
  font-family: var(--material-2-secondary-text);
}
.fynParent,
.imageIcon {
  align-self: stretch;
  max-width: 100%;
}
.fynParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.imageIcon {
  height: 198px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.exquisiteMarbleAnd,
.marbleAndGranite {
  margin: 0;
  position: relative;
  font-family: inherit;
}
.marbleAndGranite {
  width: 206px;
  font-size: inherit;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.exquisiteMarbleAnd {
  align-self: stretch;
  font-size: var(--material-2-secondary-text-size);
  font-weight: 400;
  color: var(--color-dimgray-100);
}
.layerOrganizer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.alignmentTool,
.layerOrganizerWrapper {
  align-self: stretch;
  justify-content: flex-start;
}
.layerOrganizerWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-5xl);
}
.alignmentTool {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--white);
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 var(--padding-5xl);
  gap: var(--gap-5xl);
}
.alignmentTool,
.colorManager,
.rotationControl {
  display: flex;
  align-items: flex-start;
}
.rotationControl {
  height: 329px;
  width: 304px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.colorManager {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameChild {
  height: 18px;
  width: 164px;
  position: relative;
}
.frameWrapper {
  align-self: stretch;
  height: 18px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-8xl);
  box-sizing: border-box;
}
.colorManagerParent,
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.colorManagerParent {
  align-self: stretch;
  gap: var(--gap-4xl);
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frameParent {
  width: 1113px;
  gap: var(--gap-52xl);
  max-width: 100%;
}
.connectionPoint {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-8xl) var(--padding-123xl) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
  font-family: var(--font-lora);
}
@media screen and (max-width: 1200px) {
  .frameParent {
    gap: 35px 71px;
  }
  .connectionPoint {
    padding-bottom: var(--padding-73xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .gallery1 {
    font-size: var(--font-size-5xl);
    line-height: 27px;
  }
  .ourService {
    font-size: var(--font-size-7xl);
    line-height: 20px;
  }
  .colorManager,
  .fynParent {
    flex-wrap: wrap;
  }
  .connectionPoint {
    padding-bottom: var(--padding-41xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .dataSorter {
    gap: 108px 217px;
  }
  .frameParent {
    gap: 18px 71px;
  }
}
@media screen and (max-width: 450px) {
  .fyn {
    font-size: var(--material-2-title-size);
    line-height: 20px;
  }
  .signalReceiver {
    display: none;
  }
  .logicOperator {
    padding-bottom: var(--padding-203xl);
    box-sizing: border-box;
  }
  .gallery1 {
    font-size: var(--font-size-lg);
    line-height: 20px;
  }
  .ourService {
    font-size: var(--font-size-lgi);
    line-height: 15px;
  }
  .dataSorter {
    gap: 54px 217px;
  }
  .connectionPoint {
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  }
}
