.emoji-symbols-icon,
.interaction-state {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.interaction-state {
  align-self: stretch;
  height: 65px;
  background-color: var(--white);
}
.emoji-symbols-icon {
  height: 24px;
  width: 24px;
}
.leading-item {
  height: 40px;
  width: 40px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs);
  box-sizing: border-box;
}
.overline,
.title2 {
  align-self: stretch;
  position: relative;
}
.overline {
  height: 16px;
  letter-spacing: 1.5px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.title2 {
  font-size: var(--material-2-title-size);
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 500;
  color: var(--light-on-surface-high-emphasis);
}
.secondary-text {
  width: 224px;
  position: relative;
  font-size: var(--material-2-secondary-text-size);
  letter-spacing: 0.25px;
  line-height: 20px;
  color: var(--light-on-surface-medium-emphasis);
  display: none;
}
.text-container {
  width: 276px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.chevron-right-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.trailing-item {
  height: 40px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xs);
  box-sizing: border-box;
}
.list-item-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-xs);
  z-index: 1;
}
.divider1 {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--light-outline);
  box-sizing: border-box;
  max-width: 100%;
}
.divider,
.list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.divider {
  align-self: stretch;
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  z-index: 1;
}
.list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  height: 100%;
}
.emoji-symbols-icon1,
.interaction-state1 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.interaction-state1 {
  align-self: stretch;
  height: 65px;
  background-color: var(--white);
}
.emoji-symbols-icon1 {
  height: 24px;
  width: 24px;
}
.leading-item1 {
  height: 40px;
  width: 40px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs);
  box-sizing: border-box;
}
.overline1,
.title3 {
  align-self: stretch;
  position: relative;
}
.overline1 {
  height: 16px;
  letter-spacing: 1.5px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.title3 {
  font-size: var(--material-2-title-size);
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 500;
  color: var(--light-on-surface-high-emphasis);
}
.secondary-text1 {
  width: 224px;
  position: relative;
  font-size: var(--material-2-secondary-text-size);
  letter-spacing: 0.25px;
  line-height: 20px;
  color: var(--light-on-surface-medium-emphasis);
  display: none;
}
.text-container1 {
  width: 276px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.chevron-right-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.trailing-item1 {
  height: 40px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xs);
  box-sizing: border-box;
}
.list-item-container1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-xs);
  z-index: 1;
}
.divider3 {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--light-outline);
  box-sizing: border-box;
  max-width: 100%;
}
.divider2,
.list1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.divider2 {
  align-self: stretch;
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  z-index: 1;
}
.list1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  height: 100%;
  z-index: 2;
}
.emoji-symbols-icon2,
.interaction-state2 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.interaction-state2 {
  align-self: stretch;
  height: 65px;
  background-color: var(--white);
}
.emoji-symbols-icon2 {
  height: 24px;
  width: 24px;
}
.leading-item2 {
  height: 40px;
  width: 40px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs);
  box-sizing: border-box;
}
.overline2,
.title4 {
  align-self: stretch;
  position: relative;
}
.overline2 {
  height: 16px;
  letter-spacing: 1.5px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.title4 {
  font-size: var(--material-2-title-size);
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 500;
  color: var(--light-on-surface-high-emphasis);
}
.secondary-text2 {
  width: 224px;
  position: relative;
  font-size: var(--material-2-secondary-text-size);
  letter-spacing: 0.25px;
  line-height: 20px;
  color: var(--light-on-surface-medium-emphasis);
  display: none;
}
.text-container2 {
  width: 276px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.chevron-right-icon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.trailing-item2 {
  height: 40px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xs);
  box-sizing: border-box;
}
.list-item-container2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-xs);
  z-index: 1;
}
.divider5 {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--light-outline);
  box-sizing: border-box;
  max-width: 100%;
}
.divider4,
.list2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.divider4 {
  align-self: stretch;
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  z-index: 1;
}
.list2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  height: 100%;
  z-index: 3;
}
.emoji-symbols-icon3,
.interaction-state3 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.interaction-state3 {
  align-self: stretch;
  height: 65px;
  background-color: var(--white);
}
.emoji-symbols-icon3 {
  height: 24px;
  width: 24px;
}
.leading-item3 {
  height: 40px;
  width: 40px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs);
  box-sizing: border-box;
}
.overline3,
.title5 {
  align-self: stretch;
  position: relative;
}
.overline3 {
  height: 16px;
  letter-spacing: 1.5px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.title5 {
  font-size: var(--material-2-title-size);
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 500;
  color: var(--light-on-surface-high-emphasis);
}
.secondary-text3 {
  width: 224px;
  position: relative;
  font-size: var(--material-2-secondary-text-size);
  letter-spacing: 0.25px;
  line-height: 20px;
  color: var(--light-on-surface-medium-emphasis);
  display: none;
}
.text-container3 {
  width: 276px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.chevron-right-icon3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.trailing-item3 {
  height: 40px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xs);
  box-sizing: border-box;
}
.list-item-container3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-xs);
  z-index: 1;
}
.divider7 {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--light-outline);
  box-sizing: border-box;
  max-width: 100%;
}
.divider6,
.list3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.divider6 {
  align-self: stretch;
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  z-index: 1;
}
.list3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  height: 100%;
  z-index: 4;
}
.emoji-symbols-icon4,
.interaction-state4 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.interaction-state4 {
  align-self: stretch;
  height: 65px;
  background-color: var(--white);
}
.emoji-symbols-icon4 {
  height: 24px;
  width: 24px;
}
.leading-item4 {
  height: 40px;
  width: 40px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs);
  box-sizing: border-box;
}
.overline4,
.title6 {
  align-self: stretch;
  position: relative;
}
.overline4 {
  height: 16px;
  letter-spacing: 1.5px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.title6 {
  font-size: var(--material-2-title-size);
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 500;
  color: var(--light-on-surface-high-emphasis);
}
.secondary-text4 {
  width: 224px;
  position: relative;
  font-size: var(--material-2-secondary-text-size);
  letter-spacing: 0.25px;
  line-height: 20px;
  color: var(--light-on-surface-medium-emphasis);
  display: none;
}
.text-container4 {
  width: 276px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.chevron-right-icon4 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.trailing-item4 {
  height: 40px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xs);
  box-sizing: border-box;
}
.list-item-container4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-xs);
  z-index: 1;
}
.divider9 {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--light-outline);
  box-sizing: border-box;
  max-width: 100%;
}
.divider8,
.list4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.divider8 {
  align-self: stretch;
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  z-index: 1;
}
.list4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  height: 100%;
  z-index: 5;
}
.emoji-symbols-icon5,
.interaction-state5 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.interaction-state5 {
  align-self: stretch;
  height: 65px;
  background-color: var(--white);
}
.emoji-symbols-icon5 {
  height: 24px;
  width: 24px;
}
.leading-item5 {
  height: 40px;
  width: 40px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs);
  box-sizing: border-box;
}
.overline5,
.title7 {
  align-self: stretch;
  position: relative;
}
.overline5 {
  height: 16px;
  letter-spacing: 1.5px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.title7 {
  font-size: var(--material-2-title-size);
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 500;
  color: var(--light-on-surface-high-emphasis);
}
.secondary-text5 {
  width: 224px;
  position: relative;
  font-size: var(--material-2-secondary-text-size);
  letter-spacing: 0.25px;
  line-height: 20px;
  color: var(--light-on-surface-medium-emphasis);
  display: none;
}
.text-container5 {
  width: 276px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.chevron-right-icon5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.trailing-item5 {
  height: 40px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xs);
  box-sizing: border-box;
}
.list-item-container5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-xs);
  z-index: 1;
}
.divider11 {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--light-outline);
  box-sizing: border-box;
  max-width: 100%;
}
.divider10,
.list5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.divider10 {
  align-self: stretch;
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  z-index: 1;
}
.list5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  height: 100%;
  z-index: 6;
}
.feature-extractor-child,
.feature-extractor-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  z-index: 7;
}
.feature-extractor-item {
  z-index: 8;
}
.feature-extractor {
  position: absolute;
  top: 30px;
  left: 21px;
  width: 24px;
  height: 24px;
}
.circuit,
.data-aggregator,
.map,
.pattern-matcher,
.system {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
}
.error-handler {
  align-self: stretch;
  height: 65px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--material-2-overline-size);
  color: var(--light-primary);
  font-family: var(--material-2-secondary-text);
}
