.mediaAssets {
  align-self: stretch;
  width: 120px;
  position: relative;
  background-color: var(--color-gainsboro);
  overflow: hidden;
  flex-shrink: 0;
}
.pictures {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-88xl);
  background-image: url(/public/pictures6@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.title {
  width: 158px;
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.somethingShortAnd {
  align-self: stretch;
  position: relative;
  font-size: var(--material-2-secondary-text-size);
  color: var(--color-darkslategray-100);
}
.inner,
.titleParent {
  display: flex;
  align-items: flex-start;
}
.titleParent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-base) 0 var(--padding-5xl);
}
.div {
  height: 322px;
  border-radius: var(--br-xs);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-7xl);
  max-width: 100%;
}
.div2,
.pictures1 {
  align-self: stretch;
}
.div2 {
  width: 120px;
  position: relative;
  background-color: var(--color-gainsboro);
  overflow: hidden;
  flex-shrink: 0;
}
.pictures1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-88xl);
  background-image: url(/public/pictures6@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.title1 {
  width: 158px;
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.somethingShortAnd1 {
  align-self: stretch;
  position: relative;
  font-size: var(--material-2-secondary-text-size);
  color: var(--color-darkslategray-100);
}
.child,
.titleGroup {
  display: flex;
  align-items: flex-start;
}
.titleGroup {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.child {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-base) 0 var(--padding-5xl);
}
.div1,
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.div1 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-xs);
  overflow: hidden;
  align-items: flex-end;
  padding: 0 0 var(--padding-5xl);
  gap: var(--gap-7xl);
}
.wrapper {
  height: 322px;
  align-items: flex-start;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.div4,
.pictures2 {
  align-self: stretch;
}
.div4 {
  width: 120px;
  position: relative;
  background-color: var(--color-gainsboro);
  overflow: hidden;
  flex-shrink: 0;
}
.pictures2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-88xl);
  background-image: url(/public/pictures6@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.title2 {
  width: 158px;
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.somethingShortAnd2 {
  align-self: stretch;
  position: relative;
  font-size: var(--material-2-secondary-text-size);
  color: var(--color-darkslategray-100);
}
.frameDiv,
.titleContainer {
  display: flex;
  align-items: flex-start;
}
.titleContainer {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.frameDiv {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-base) 0 var(--padding-5xl);
}
.div3 {
  height: 322px;
  border-radius: var(--br-xs);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-7xl);
  max-width: 100%;
}
.galleryInner,
.parent {
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.parent {
  width: 1128px;
  display: grid;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  grid-template-columns: repeat(3, minmax(270px, 1fr));
}
.galleryInner {
  align-self: stretch;
  display: flex;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-9xl);
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-source-code-pro);
}
@media screen and (max-width: 1025px) {
  .parent {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(270px, 468px));
  }
}
@media screen and (max-width: 750px) {
  .parent {
    gap: 32px 16px;
    grid-template-columns: minmax(270px, 1fr);
  }
}
