.forgot3,
.title18 {
  position: relative;
  line-height: 100%;
  text-transform: capitalize;
}
.title18 {
  flex: 1;
  display: inline-block;
  max-width: 100%;
}
.forgot3 {
  width: 68px;
  color: var(--foreground-primary);
  text-align: right;
  display: none;
}
.title-parent7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.context3 {
  flex: 1;
  position: relative;
  line-height: 100%;
  display: inline-block;
  max-width: 100%;
}
.iconeye4 {
  height: 24px;
  width: 24px;
  position: relative;
}
.iconeye-wrapper2 {
  height: 24px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.frame-parent30,
.input-text4,
.input2 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.input-text4 {
  border-radius: var(--br-5xs);
  border: 1px solid var(--outline-default);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) var(--padding-mini);
  gap: var(--gap-8xs);
}
.frame-parent30,
.input2 {
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--material-2-secondary-text-size);
  color: var(--foreground-low);
}
.frame-parent30 {
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--material-2-title-size);
  color: var(--foreground-default);
  font-family: var(--body-large-regular);
}
