.frame-child21 {
  height: 50px;
  width: 161px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-700);
  border: 1px solid var(--color-midnightblue);
  box-sizing: border-box;
  display: none;
}
.more {
  width: 83.5px;
  position: relative;
  font-size: var(--material-2-title-size);
  letter-spacing: 0.16px;
  line-height: 26px;
  font-family: var(--font-lora);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frame-wrapper16,
.rectangle-parent11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangle-parent11 {
  cursor: pointer;
  border: 1px solid var(--color-midnightblue);
  padding: var(--padding-xs) var(--padding-17xl-8);
  background-color: var(--color-gray-700);
  width: 161px;
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  justify-content: flex-start;
}
.frame-wrapper16 {
  align-self: stretch;
  justify-content: center;
  padding: var(--padding-0) var(--padding-xl) var(--padding-0)
    var(--padding-10xl);
}
.frame-child22,
.frame-child23 {
  width: 360px;
  height: 479px;
  position: relative;
  background-color: var(--color-gainsboro-100);
  display: none;
  max-width: 100%;
}
.frame-child23 {
  height: 489px;
  background-color: var(--color-gray-300);
}
.about-us6 {
  position: relative;
  line-height: 38px;
  display: inline-block;
  min-width: 71px;
  z-index: 2;
}
.crafting-excellence-through6 {
  margin: 0;
}
.crafting-excellence-through-container6 {
  align-self: stretch;
  height: 68px;
  position: relative;
  font-size: var(--font-size-smi);
  line-height: 20px;
  font-family: var(--material-2-secondary-text);
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.about-us-parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-5xs) var(--padding-0) var(--padding-0);
}
.contact-info6 {
  width: 187.5px;
  position: relative;
  font-size: var(--material-2-title-size);
  line-height: 39px;
  font-family: var(--font-raleway);
  color: var(--color-whitesmoke-100);
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 2;
}
.fyn-finishing-work,
.fyngmailcom6,
.rd-floor-somewhere6 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 2;
  margin-top: -7px;
}
.rd-floor-somewhere6 {
  align-self: stretch;
  line-height: 35px;
  white-space: pre-wrap;
}
.fyn-finishing-work,
.fyngmailcom6 {
  line-height: 34.9px;
}
.fyn-finishing-work {
  width: 93px;
  display: inline-block;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.fyngmailcom6 {
  align-self: stretch;
}
.company-logo {
  align-self: stretch;
  flex-direction: column;
  font-size: var(--font-size-smi);
  font-family: var(--material-2-secondary-text);
}
.company-logo,
.frame-parent44,
.frame-wrapper17 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent44 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-4xs);
}
.frame-wrapper17 {
  width: 246.5px;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-4xs);
  box-sizing: border-box;
}
.frame-parent43,
.rectangle-parent12 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-parent12 {
  background-color: var(--color-gray-300);
  align-items: flex-start;
  padding: var(--padding-14xl) var(--padding-8xs) var(--padding-2xs);
  box-sizing: border-box;
  gap: var(--gap-2xl-1);
  z-index: 1;
  text-align: left;
  font-size: var(--material-2-title-size);
  color: var(--white);
  font-family: var(--font-raleway);
}
.frame-parent43 {
  align-items: flex-end;
  gap: var(--gap-sm);
}
