.star-point-connection-child {
  width: 359px;
  height: 1153px;
  position: relative;
  background-color: var(--color-midnightblue);
  display: none;
  max-width: 100%;
}
.testimonials5,
.what-our-clients1 {
  width: 159px;
  position: relative;
  letter-spacing: 1px;
  line-height: 32px;
  display: inline-block;
  z-index: 1;
}
.what-our-clients1 {
  width: 181px;
  z-index: 2;
}
.what-our-clients-say-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-0)
    var(--padding-12xs);
  font-size: var(--material-2-title-size);
}
.constraint-connection,
.path-connection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.constraint-connection {
  flex-direction: row;
  padding: var(--padding-0) var(--padding-2xs);
  text-align: center;
  color: var(--white);
}
.stars-child2 {
  height: 20.4px;
  width: 20.4px;
  position: relative;
  min-height: 20px;
}
.stars-child3 {
  z-index: 1;
}
.stars-child3,
.stars-child4,
.stars-child5,
.stars-child6 {
  height: 20.4px;
  width: 20.4px;
  position: relative;
  min-height: 20px;
}
.stars-child6 {
  z-index: 1;
}
.output-aggregator,
.stars1 {
  display: flex;
  justify-content: flex-start;
}
.stars1 {
  height: 20.4px;
  filter: drop-shadow(0 34.2px 72.74px rgba(21, 21, 21, 0.15));
  flex-direction: row;
  align-items: center;
}
.output-aggregator {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
}
.i-will-let1 {
  align-self: stretch;
  position: relative;
  line-height: 30px;
}
.samri1 {
  position: relative;
  font-weight: 800;
  display: inline-block;
  min-width: 41px;
}
.value-transformer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo5ff3c18e-1-icon1 {
  height: 21.7px;
  width: 88.1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.decision-maker1 {
  align-self: stretch;
  height: 21.7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--material-2-secondary-text-size);
  font-family: var(--font-manrope);
}
.loop-control-icon {
  width: 75.8px;
  height: 75.8px;
  position: absolute;
  margin: 0 !important;
  top: -33.1px;
  left: 25px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}
.data-processor,
.input-filter {
  flex: 1;
  display: flex;
  align-items: flex-start;
}
.input-filter {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--white);
  box-shadow: 0 28.9px 61.56px rgba(21, 21, 21, 0.15);
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-0) var(--padding-6xl) var(--padding-15xl-9);
  position: relative;
  gap: var(--gap-13xl);
  z-index: 1;
}
.data-processor {
  width: 306px;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-26xl);
  box-sizing: border-box;
}
.stars-child7 {
  height: 20.4px;
  width: 20.4px;
  position: relative;
  min-height: 20px;
}
.stars-child8 {
  z-index: 1;
}
.stars-child10,
.stars-child11,
.stars-child8,
.stars-child9 {
  height: 20.4px;
  width: 20.4px;
  position: relative;
  min-height: 20px;
}
.stars-child11 {
  z-index: 1;
}
.condition-checker,
.stars2 {
  display: flex;
  justify-content: flex-start;
}
.stars2 {
  height: 20.4px;
  filter: drop-shadow(0 34.2px 72.74px rgba(21, 21, 21, 0.15));
  flex-direction: row;
  align-items: center;
}
.condition-checker {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
}
.if-you-want {
  align-self: stretch;
  position: relative;
}
.sol-d {
  position: relative;
  font-weight: 800;
  display: inline-block;
  min-width: 36px;
}
.sol-d-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo5ff3c18e-1-icon2 {
  height: 21.7px;
  width: 88.1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.frame-parent38 {
  align-self: stretch;
  height: 21.7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--material-2-secondary-text-size);
  font-family: var(--font-manrope);
}
.queue-handler-icon {
  width: 75.8px;
  height: 75.8px;
  position: absolute;
  margin: 0 !important;
  top: -33.1px;
  left: 25px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}
.data-validator,
.variable-holder {
  display: flex;
  align-items: flex-start;
}
.variable-holder {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--white);
  box-shadow: 0 28.9px 61.56px rgba(21, 21, 21, 0.15);
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-0) var(--padding-6xl) var(--padding-15xl-9);
  position: relative;
  gap: var(--gap-13xl);
  z-index: 1;
}
.data-validator {
  width: 298px;
  height: 281px;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-9xs);
  box-sizing: border-box;
}
.star-point-connection,
.star-point-connection-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.star-point-connection {
  flex: 1;
  background-color: var(--color-midnightblue);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-2xl) var(--padding-154xl);
  gap: var(--gap-22xl);
}
.star-point-connection-wrapper {
  height: 1161px;
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-5xs)
    var(--padding-0);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
