.fyn2,
.home1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.16px;
  line-height: 25.2px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.fyn2 img{
  background-color: lightslategray;
}
.fyn2 {
  width: 69.6px;
  flex-shrink: 0;
}
.home1 {
  min-width: 68px;
}
.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-7xl) var(--padding-0) var(--padding-0);
}
.gallery9 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.16px;
  line-height: 25.2px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 97px;
}
.gallery-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-16xl) var(--padding-0)
    var(--padding-0);
}
.service3,
.testimonials2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.16px;
  line-height: 25.2px;
  font-weight: 400;
  font-family: inherit;
}
.service3 {
  display: inline-block;
  min-width: 92px;
}
.testimonials2 {
  flex: 1;
}
.frame-nav,
.fyn-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
  font-family: var(--font-lora);
}
.frame-nav {
  margin: 0;
  width: 562px;
  justify-content: flex-start;
  gap: var(--gap-8xl);
}
.fyn-container {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.container-child {
  height: 185px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.gallery10 {
  margin-block-start: 0;
  margin-block-end: 20px;
}
.we-have-solutions4 {
  margin: 0;
}
.gallery-we-have-container5 {
  margin: 0 !important;
  height: 87px;
  width: 898px;
  position: absolute;
  top: 60px;
  right: 93px;
  font-size: inherit;
  letter-spacing: 1px;
  line-height: 41px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.container {
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  margin-top: 50px;
}
.container,
.frame-parent17,
.gallery-inner {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.frame-parent17 {
  width: 1130px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.gallery-inner {
  height: 409px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-0) var(--padding-xl) var(--padding-21xl)
    var(--padding-11xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--white);
  font-family: var(--material-2-secondary-text);
}

@media screen and (max-width: 1025px) {
  .gallery-we-have-container5 {
    font-size: var(--font-size-10xl);
    line-height: 33px;
  }
  .container{
    margin-top: 150px;
  }
  .fyn2 img{
    margin-top: 55px;
    margin-left:-27px;
    background-color:lightslategray;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 750px) {
  .frame-nav {
    display: none;
  }
  .frame-parent17 {
    gap: 25px 50px;
  }
  
}
@media screen and (max-width: 450px) {
  .gallery-we-have-container5 {
    /* top: 0px; */
    right: -195px;
    font-size: 1.2rem;
    line-height: 25px;
    display: inline-block;
  }
  .gallery10{
    margin-left: 170px;
  }
  .container{
    margin-top: 150px;
  }
}
