.frameChild {
  height: 79px;
  width: 1440px;
  position: relative;
  background-color: var(--color-gray-300);
  display: none;
  max-width: 100%;
}
.sequenceControllerIcon {
  height: 46.8px;
  width: 42px;
  position: relative;
  min-height: 47px;
  z-index: 1;
}
.mergeFunction {
  position: relative;
  letter-spacing: 0.16px;
  line-height: 26px;
  z-index: 1;
}
.iterativeLoop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi-3) var(--padding-10xs) 0 0;
}
.dataComparisonIcon {
  width: 24px;
  height: 26.8px;
  position: relative;
  z-index: 1;
}
.dataComparisonWrapper {
  height: 40.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm-4) var(--padding-smi) 0 0;
  box-sizing: border-box;
}
.frameIcon,
.vectorIcon {
  position: relative;
  z-index: 1;
}
.frameIcon {
  height: 34px;
  width: 39px;
  overflow: hidden;
  flex-shrink: 0;
}
.vectorIcon {
  height: 26.8px;
  width: 24px;
}
.functionCall,
.repeater {
  justify-content: flex-start;
}
.repeater {
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.functionCall {
  flex-direction: column;
  padding: var(--padding-sm-3) 0 0;
}
.functionCall,
.inputProcessor,
.outputFormatter {
  display: flex;
  align-items: flex-start;
}
.outputFormatter {
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.inputProcessor {
  height: 54.6px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs-3);
  box-sizing: border-box;
}
.bookYourFree {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.16px;
  line-height: 25.2px;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.dataTransformer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
  box-sizing: border-box;
  min-width: 220px;
  max-width: 100%;
}
.customFunctionIcon {
  height: 46.8px;
  width: 42px;
  position: relative;
  z-index: 1;
}
.dataFilter,
.rectangleParent {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.dataFilter {
  width: 439px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-39xl);
  font-size: var(--font-size-xl);
}
.rectangleParent {
  align-self: stretch;
  background-color: var(--color-gray-300);
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-base-7) var(--padding-150xl) var(--padding-5xs-7)
    var(--padding-142xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--white);
  font-family: var(--font-lora);
}
@media screen and (max-width: 1200px) {
  .rectangleParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .rectangleParent {
    padding-left: var(--padding-61xl);
    padding-right: var(--padding-65xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .bookYourFree,
  .mergeFunction {
    font-size: var(--font-size-lgi);
    line-height: 20px;
  }
  .bookYourFree {
    font-size: var(--material-2-title-size);
  }
  .dataFilter {
    flex-wrap: wrap;
    gap: 58px 29px;
  }
  .rectangleParent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
