.fyn,
.home {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.16px;
  line-height: 25.2px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.fyn {
  width: 69.6px;
  flex-shrink: 0;
}
.home {
  min-width: 68px;
}
.homeWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xl) 0 0;
}
.gallery {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.16px;
  line-height: 25.2px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 97px;
}
.galleryWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-16xl) 0 0;
}
.service,
.testimonials {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.16px;
  line-height: 25.2px;
  font-weight: 400;
  font-family: inherit;
}
.service {
  display: inline-block;
  min-width: 92px;
}
.testimonials {
  flex: 1;
}
.frameGroup,
.fynParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
  font-family: var(--font-lora);
}
.frameGroup {
  margin: 0;
  width: 562px;
  justify-content: flex-start;
  gap: var(--gap-8xl);
}
.fynParent {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.containerChild {
  height: 295px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.gallery1 {
  margin-block-start: 0;
  margin-block-end: 20px;
}
.weHaveSolutions {
  margin: 0;
}
.galleryWeHaveContainer {
  margin: 0 !important;
  height: 87px;
  width: 898px;
  position: absolute;
  top: 102px;
  right: 93px;
  font-size: inherit;
  letter-spacing: 1px;
  line-height: 41px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.container {
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.container,
.frameParent,
.galleryInner {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.frameParent {
  width: 1130px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.galleryInner {
  height: 409px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-21xl) var(--padding-11xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--white);
  font-family: var(--material-2-secondary-text);
}
@media screen and (max-width: 1025px) {
  .galleryWeHaveContainer {
    font-size: var(--font-size-10xl);
    line-height: 33px;
  }
}
@media screen and (max-width: 750px) {
  .frameGroup {
    display: none;
  }
  .frameParent {
    gap: 25px 50px;
  }
}
@media screen and (max-width: 450px) {
  .galleryWeHaveContainer {
    font-size: var(--font-size-3xl);
    line-height: 25px;
  }
}
