.emoji-symbols-icon6,
.interaction-state6 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.interaction-state6 {
  align-self: stretch;
  height: 65px;
  background-color: var(--white);
}
.emoji-symbols-icon6 {
  height: 24px;
  width: 24px;
}
.leading-item6 {
  height: 40px;
  width: 40px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs);
  box-sizing: border-box;
}
.overline6 {
  height: 16px;
  letter-spacing: 1.5px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.overline6,
.secondary-text6,
.title19 {
  align-self: stretch;
  position: relative;
}
.title19 {
  font-size: var(--material-2-title-size);
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 500;
  color: var(--light-on-surface-high-emphasis);
}
.secondary-text6 {
  height: 20px;
  font-size: var(--material-2-secondary-text-size);
  letter-spacing: 0.25px;
  line-height: 20px;
  color: var(--light-on-surface-medium-emphasis);
  display: none;
}
.text-container6 {
  width: 181px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.chevron-right-icon6 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.trailing-item6 {
  height: 40px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xs);
  box-sizing: border-box;
}
.list-item-container6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-xs);
  z-index: 1;
}
.divider13 {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--light-outline);
  box-sizing: border-box;
}
.divider12,
.list6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divider12 {
  align-self: stretch;
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  z-index: 1;
}
.list6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  height: 100%;
}
.emoji-symbols-icon7,
.interaction-state7 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.interaction-state7 {
  align-self: stretch;
  height: 65px;
  background-color: var(--white);
}
.emoji-symbols-icon7 {
  height: 24px;
  width: 24px;
}
.leading-item7 {
  height: 40px;
  width: 40px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs);
  box-sizing: border-box;
}
.overline7 {
  height: 16px;
  letter-spacing: 1.5px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.overline7,
.secondary-text7,
.title20 {
  align-self: stretch;
  position: relative;
}
.title20 {
  font-size: var(--material-2-title-size);
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 500;
  color: var(--light-on-surface-high-emphasis);
}
.secondary-text7 {
  height: 20px;
  font-size: var(--material-2-secondary-text-size);
  letter-spacing: 0.25px;
  line-height: 20px;
  color: var(--light-on-surface-medium-emphasis);
  display: none;
}
.text-container7 {
  width: 181px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.chevron-right-icon7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.trailing-item7 {
  height: 40px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xs);
  box-sizing: border-box;
}
.list-item-container7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-xs);
  z-index: 1;
}
.divider15 {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--light-outline);
  box-sizing: border-box;
}
.divider14,
.list7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divider14 {
  align-self: stretch;
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  z-index: 1;
}
.list7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  height: 100%;
  z-index: 2;
}
.emoji-symbols-icon8,
.interaction-state8 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.interaction-state8 {
  align-self: stretch;
  height: 65px;
  background-color: var(--white);
}
.emoji-symbols-icon8 {
  height: 24px;
  width: 24px;
}
.leading-item8 {
  height: 40px;
  width: 40px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs);
  box-sizing: border-box;
}
.overline8 {
  height: 16px;
  letter-spacing: 1.5px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.overline8,
.secondary-text8,
.title21 {
  align-self: stretch;
  position: relative;
}
.title21 {
  font-size: var(--material-2-title-size);
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 500;
  color: var(--light-on-surface-high-emphasis);
}
.secondary-text8 {
  height: 20px;
  font-size: var(--material-2-secondary-text-size);
  letter-spacing: 0.25px;
  line-height: 20px;
  color: var(--light-on-surface-medium-emphasis);
  display: none;
}
.text-container8 {
  width: 181px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.chevron-right-icon8 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.trailing-item8 {
  height: 40px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xs);
  box-sizing: border-box;
}
.list-item-container8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-xs);
  z-index: 1;
}
.divider17 {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--light-outline);
  box-sizing: border-box;
}
.divider16,
.list8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divider16 {
  align-self: stretch;
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  z-index: 1;
}
.list8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  height: 100%;
  z-index: 3;
}
.emoji-symbols-icon9,
.interaction-state9 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.interaction-state9 {
  align-self: stretch;
  height: 65px;
  background-color: var(--white);
}
.emoji-symbols-icon9 {
  height: 24px;
  width: 24px;
}
.leading-item9 {
  height: 40px;
  width: 40px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs);
  box-sizing: border-box;
}
.overline9 {
  height: 16px;
  letter-spacing: 1.5px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.overline9,
.secondary-text9,
.title22 {
  align-self: stretch;
  position: relative;
}
.title22 {
  font-size: var(--material-2-title-size);
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 500;
  color: var(--light-on-surface-high-emphasis);
}
.secondary-text9 {
  height: 20px;
  font-size: var(--material-2-secondary-text-size);
  letter-spacing: 0.25px;
  line-height: 20px;
  color: var(--light-on-surface-medium-emphasis);
  display: none;
}
.text-container9 {
  width: 181px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.chevron-right-icon9 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.trailing-item9 {
  height: 40px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xs);
  box-sizing: border-box;
}
.list-item-container9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-xs);
  z-index: 1;
}
.divider19 {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--light-outline);
  box-sizing: border-box;
}
.divider18,
.list9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divider18 {
  align-self: stretch;
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  z-index: 1;
}
.list9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  height: 100%;
  z-index: 4;
}
.emoji-symbols-icon10,
.interaction-state10 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.interaction-state10 {
  align-self: stretch;
  height: 65px;
  background-color: var(--white);
}
.emoji-symbols-icon10 {
  height: 24px;
  width: 24px;
}
.leading-item10 {
  height: 40px;
  width: 40px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs);
  box-sizing: border-box;
}
.overline10 {
  height: 16px;
  letter-spacing: 1.5px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.overline10,
.secondary-text10,
.title23 {
  align-self: stretch;
  position: relative;
}
.title23 {
  font-size: var(--material-2-title-size);
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 500;
  color: var(--light-on-surface-high-emphasis);
}
.secondary-text10 {
  height: 20px;
  font-size: var(--material-2-secondary-text-size);
  letter-spacing: 0.25px;
  line-height: 20px;
  color: var(--light-on-surface-medium-emphasis);
  display: none;
}
.text-container10 {
  width: 181px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.chevron-right-icon10 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.trailing-item10 {
  height: 40px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xs);
  box-sizing: border-box;
}
.list-item-container10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-xs);
  z-index: 1;
}
.divider21 {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--light-outline);
  box-sizing: border-box;
}
.divider20,
.list10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divider20 {
  align-self: stretch;
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  z-index: 1;
}
.list10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  height: 100%;
  z-index: 5;
}
.emoji-symbols-icon11,
.interaction-state11 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.interaction-state11 {
  align-self: stretch;
  height: 65px;
  background-color: var(--white);
}
.emoji-symbols-icon11 {
  height: 24px;
  width: 24px;
}
.leading-item11 {
  height: 40px;
  width: 40px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs);
  box-sizing: border-box;
}
.overline11 {
  height: 16px;
  letter-spacing: 1.5px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.overline11,
.secondary-text11,
.title24 {
  align-self: stretch;
  position: relative;
}
.title24 {
  font-size: var(--material-2-title-size);
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 500;
  color: var(--light-on-surface-high-emphasis);
}
.secondary-text11 {
  height: 20px;
  font-size: var(--material-2-secondary-text-size);
  letter-spacing: 0.25px;
  line-height: 20px;
  color: var(--light-on-surface-medium-emphasis);
  display: none;
}
.text-container11 {
  width: 181px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.chevron-right-icon11 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.trailing-item11 {
  height: 40px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xs);
  box-sizing: border-box;
}
.list-item-container11 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-xs);
  z-index: 1;
}
.divider23 {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--light-outline);
  box-sizing: border-box;
}
.divider22,
.list11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divider22 {
  align-self: stretch;
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  z-index: 1;
}
.list11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  height: 100%;
  z-index: 6;
}
.frame-child9 {
  top: 0;
  left: 0;
  z-index: 7;
}
.frame-child10,
.frame-child9,
.frame-parent34 {
  position: absolute;
  width: 17.7px;
  height: 24px;
}
.frame-child10 {
  top: 0;
  left: 0;
  z-index: 8;
}
.frame-parent34 {
  top: 30px;
  left: 15.5px;
}
.list-container,
.list-group,
.list-parent,
.list-parent1,
.list-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.global-scope {
  align-self: stretch;
  height: 65px;
  position: relative;
  text-align: left;
  font-size: var(--material-2-overline-size);
  color: var(--light-primary);
  font-family: var(--material-2-secondary-text);
}
