.frame-child19,
.frame-child20 {
  align-self: stretch;
  height: 479px;
  position: relative;
  background-color: var(--color-gainsboro-100);
  display: none;
}
.frame-child20 {
  height: 489px;
  background-color: var(--color-gray-300);
}
.about-us5 {
  width: 91px;
  position: relative;
  line-height: 38px;
  display: inline-block;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
  z-index: 2;
}
.crafting-excellence-through5 {
  margin: 0;
}
.crafting-excellence-through-container5 {
  align-self: stretch;
  height: 68px;
  position: relative;
  font-size: var(--font-size-smi);
  line-height: 20px;
  font-family: var(--material-2-secondary-text);
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.loop-manager,
.variable-vault {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.variable-vault {
  flex: 1;
  flex-direction: column;
}
.loop-manager {
  width: 248px;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-sm);
  box-sizing: border-box;
}
.contact-info5 {
  width: 187.5px;
  position: relative;
  font-size: var(--material-2-title-size);
  line-height: 39px;
  font-family: var(--font-raleway);
  color: var(--color-whitesmoke-100);
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 2;
}
.expression-explorer,
.fyngmailcom5,
.rd-floor-somewhere5 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 2;
  margin-top: -7px;
}
.rd-floor-somewhere5 {
  align-self: stretch;
  line-height: 35px;
  white-space: pre-wrap;
}
.expression-explorer,
.fyngmailcom5 {
  line-height: 34.9px;
}
.expression-explorer {
  width: 93px;
  display: inline-block;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.fyngmailcom5 {
  align-self: stretch;
}
.error-handler1,
.event-executor {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.event-executor {
  flex: 1;
  flex-direction: column;
}
.error-handler1 {
  width: 256.5px;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-sm) var(--padding-smi-1);
  box-sizing: border-box;
  font-size: var(--font-size-smi);
  font-family: var(--material-2-secondary-text);
}
.our-company3 {
  flex: 1;
  position: relative;
  line-height: 39px;
  padding-right: var(--padding-0);
  z-index: 2;
}
.transition-triggler {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-0)
    var(--padding-11xs);
}
.testimonials6 {
  position: relative;
  line-height: 34.9px;
  display: inline-block;
  min-width: 75px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 2;
}
.signal-sender {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.contact3 {
  position: relative;
  line-height: 34.9px;
  display: inline-block;
  min-width: 46px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 2;
}
.signal-sender1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
  margin-top: -9.9px;
}
.gallery17 {
  position: relative;
  line-height: 34.9px;
  display: inline-block;
  min-width: 40px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 3;
  margin-top: -9.9px;
}
.connection-controller,
.transition-triggler-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.connection-controller {
  padding: var(--padding-0) var(--padding-xl) var(--padding-0) var(--padding-0);
  margin-top: -3px;
  font-size: var(--font-size-smi);
  color: var(--white);
  font-family: var(--material-2-secondary-text);
}
.transition-triggler-parent {
  flex: 1;
}
.event-emitter-icon {
  width: 24px;
  height: 23px;
  position: relative;
  z-index: 3;
}
.error-handler2 {
  height: 26px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.condition-combiner-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 39px;
  height: 34px;
  overflow: hidden;
  z-index: 2;
}
.sequence-sequencer-icon {
  position: absolute;
  top: 4px;
  left: 32px;
  width: 24px;
  height: 23px;
  z-index: 3;
}
.signal-router {
  height: 34px;
  flex: 1;
  position: relative;
}
.performance-tracker {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-2xs);
}
.control-center,
.error-eliminator,
.parameter-processor,
.performance-tracker {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.error-eliminator {
  width: 91px;
  flex-direction: column;
  padding: var(--padding-8xs) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  margin-left: -0.2px;
}
.control-center,
.parameter-processor {
  flex-direction: row;
}
.control-center {
  flex: 1;
}
.parameter-processor {
  width: 302px;
  padding: var(--padding-0) var(--padding-xs) var(--padding-3xs-1);
  box-sizing: border-box;
  color: var(--color-whitesmoke-100);
}
.data-distributor {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--color-gray-700);
  z-index: 4;
}
.copyright-20243 {
  flex: 1;
  position: relative;
  line-height: 35px;
  z-index: 2;
}
.copyright-2024-fyn-finishing-container,
.rectangle-parent10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.copyright-2024-fyn-finishing-container {
  width: 275px;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-8xs);
  box-sizing: border-box;
  font-size: var(--font-size-smi);
  font-family: var(--material-2-secondary-text);
}
.rectangle-parent10 {
  align-self: stretch;
  background-color: var(--color-gray-300);
  flex-direction: column;
  padding: var(--padding-14xl) var(--padding-0) var(--padding-2xs);
  gap: var(--gap-4xs);
  z-index: 1;
  text-align: left;
  font-size: var(--material-2-title-size);
  color: var(--white);
  font-family: var(--font-raleway);
}
