.rectangle4,
.rectangle5 {
  align-self: stretch;
  position: relative;
}
.rectangle4 {
  height: 594.9px;
  background-color: var(--color-gray-400);
  display: none;
}
.rectangle5 {
  margin-top: -1.1000000000003638px;
  height: 1px;
  background-color: var(--color-gray-600);
}
.rectangle6 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.about-us1 {
  margin: 0;
  width: 133.2px;
  position: relative;
  font-size: inherit;
  line-height: 39px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 2;
}
.crafting-excellence-through1 {
  margin: 0;
}
.crafting-excellence-through-container1 {
  align-self: stretch;
  height: 172.3px;
  position: relative;
  font-size: var(--material-2-title-size);
  line-height: 20px;
  font-family: var(--material-2-secondary-text);
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.about-us-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xl-7);
  min-width: 265px;
  max-width: 100%;
}
.contact-info1 {
  margin: 0;
  width: 181.2px;
  position: relative;
  font-size: inherit;
  line-height: 39px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 2;
}
.div15,
.fyngmailcom1,
.rd-floor-somewhere1 {
  position: relative;
  line-height: 34.9px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.rd-floor-somewhere1 {
  align-self: stretch;
  white-space: pre-wrap;
  z-index: 2;
}
.div15,
.fyngmailcom1 {
  display: inline-block;
  margin-top: -0.5px;
}
.div15 {
  min-width: 96px;
  z-index: 3;
}
.fyngmailcom1 {
  width: 247.2px;
  z-index: 4;
}
.rd-floor-somewhere-addis-abab-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-mid);
  color: var(--white);
  font-family: var(--material-2-secondary-text);
}
.contact-info-parent,
.frame-parent15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contact-info-parent {
  width: 349.2px;
  flex-direction: column;
  gap: var(--gap-6xl-6);
  min-width: 349.1999999999998px;
  color: var(--color-whitesmoke-100);
}
.frame-parent15 {
  width: 825.6px;
  flex-direction: row;
  gap: var(--gap-49xl-4);
}
.our-company1,
.testimonials3 {
  position: relative;
  display: inline-block;
  z-index: 2;
}
.our-company1 {
  margin: 0;
  width: 200.4px;
  font-size: inherit;
  line-height: 39px;
  font-weight: 400;
  font-family: inherit;
}
.testimonials3 {
  width: 117px;
  line-height: 35px;
}
.contact1,
.gallery9 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.contact1 {
  align-self: stretch;
  line-height: 35px;
  white-space: pre-wrap;
  z-index: 2;
}
.gallery9 {
  font-size: var(--material-2-title-size);
  line-height: 34.9px;
  display: inline-block;
  min-width: 49px;
  z-index: 3;
  margin-top: -2.5px;
}
.contact-parent {
  align-self: stretch;
  font-size: var(--font-size-mid);
}
.contact-parent,
.our-company-parent,
.testimonials-caption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.testimonials-caption {
  align-self: stretch;
  gap: var(--gap-12xs);
  font-size: var(--material-2-title-size);
  color: var(--white);
  font-family: var(--material-2-secondary-text);
}
.our-company-parent {
  width: 210.4px;
  gap: var(--gap-6xl-8);
  color: var(--color-whitesmoke-100);
}
.frame-parent14,
.our-company-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent14 {
  width: 1162px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.our-company-title {
  align-self: stretch;
  justify-content: flex-start;
}
.frame-icon6,
.frame-icon7,
.frame-icon8 {
  height: 18.5px;
  width: 21.6px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 19px;
  z-index: 2;
}
.frame-parent16 {
  height: 18.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini-4);
  margin-top: -21.5px;
}
.frame-wrapper2,
.our-company-title-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.our-company-title-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}
.frame-wrapper2 {
  width: 1279.2px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-17xl);
  box-sizing: border-box;
}
.rectangle7 {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--color-gray-700);
  z-index: 2;
}
.copyright-20241,
.rectangle-parent1 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.rectangle-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-104xl-1) 0 var(--padding-12xs-1);
  gap: var(--gap-108xl-2);
}
.copyright-20241 {
  flex: 1;
  line-height: 34.9px;
  z-index: 3;
}
.copyright-2024-fyn-finishing-wrapper,
.frame-parent13,
.group-footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.copyright-2024-fyn-finishing-wrapper {
  width: 477.6px;
  flex-direction: row;
  padding: 0 var(--padding-17xl);
  box-sizing: border-box;
  font-size: var(--font-size-mid);
  font-family: var(--material-2-secondary-text);
}
.frame-parent13,
.group-footer {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-14xl-8);
  flex-shrink: 0;
}
.group-footer {
  background-color: var(--color-gray-400);
  padding: 0 0 var(--padding-12xl-8);
  box-sizing: border-box;
  gap: var(--gap-12xs-1);
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--white);
  font-family: var(--font-raleway);
}
@media screen and (max-width: 1125px) {
  .frame-parent14 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1025px) {
  .frame-parent15 {
    gap: 68.4px 34px;
  }
}
@media screen and (max-width: 750px) {
  .contact-info-parent {
    flex: 1;
  }
  .frame-parent15 {
    flex-wrap: wrap;
  }
  .rectangle-parent1 {
    gap: 64px 127.2px;
    padding-top: var(--padding-61xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent13 {
    gap: 17px 33.8px;
  }
}
@media screen and (max-width: 450px) {
  .about-us1 {
    font-size: var(--font-size-xl);
    line-height: 30px;
  }
  .about-us-parent {
    gap: 16px 31.7px;
  }
  .contact-info1 {
    font-size: var(--font-size-xl);
    line-height: 30px;
  }
  .contact-info-parent {
    min-width: 100%;
  }
  .frame-parent15 {
    gap: 68.4px 17px;
  }
  .our-company1 {
    font-size: var(--font-size-xl);
    line-height: 30px;
  }
  .rectangle-parent1 {
    gap: 32px 127.2px;
  }
}
