.rectangle,
.rectangle1 {
  align-self: stretch;
  position: relative;
}
.rectangle {
  height: 594.9px;
  background-color: var(--color-gray-300);
  display: none;
}
.rectangle1 {
  margin-top: -1.1000000000003638px;
  height: 1px;
  background-color: var(--color-gray-600);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.rectangle2 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.aboutUs {
  margin: 0;
  width: 133.2px;
  position: relative;
  font-size: inherit;
  line-height: 39px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 2;
}
.craftingExcellenceThrough {
  margin: 0;
}
.craftingExcellenceThroughContainer {
  align-self: stretch;
  height: 172.3px;
  position: relative;
  font-size: var(--material-2-title-size);
  line-height: 20px;
  font-family: var(--material-2-secondary-text);
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.aboutUsParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xl-7);
  min-width: 265px;
  max-width: 100%;
}
.contactInfo {
  margin: 0;
  width: 181.2px;
  position: relative;
  font-size: inherit;
  line-height: 39px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 2;
}
.div,
.fyngmailcom,
.rdFloorSomewhere {
  position: relative;
  line-height: 34.9px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.rdFloorSomewhere {
  align-self: stretch;
  white-space: pre-wrap;
  z-index: 2;
}
.div,
.fyngmailcom {
  display: inline-block;
  margin-top: -0.5px;
}
.div {
  min-width: 96px;
  z-index: 3;
}
.fyngmailcom {
  width: 247.2px;
  z-index: 4;
}
.rdFloorSomewhereAddisAbabParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-mid);
  color: var(--white);
  font-family: var(--material-2-secondary-text);
}
.contactInfoParent,
.frameDiv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contactInfoParent {
  width: 349.2px;
  flex-direction: column;
  gap: var(--gap-6xl-6);
  min-width: 349.1999999999998px;
  color: var(--color-whitesmoke-100);
}
.frameDiv {
  width: 825.6px;
  flex-direction: row;
  gap: var(--gap-49xl-4);
}
.ourCompany,
.testimonials {
  position: relative;
  display: inline-block;
  z-index: 2;
}
.ourCompany {
  margin: 0;
  width: 200.4px;
  font-size: inherit;
  line-height: 39px;
  font-weight: 400;
  font-family: inherit;
}
.testimonials {
  width: 117px;
  line-height: 35px;
}
.contact,
.gallery {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.contact {
  align-self: stretch;
  line-height: 35px;
  white-space: pre-wrap;
  z-index: 2;
}
.gallery {
  font-size: var(--material-2-title-size);
  line-height: 34.9px;
  display: inline-block;
  min-width: 49px;
  z-index: 3;
  margin-top: -2.5px;
}
.contactParent {
  align-self: stretch;
  font-size: var(--font-size-mid);
}
.contactParent,
.ourCompanyParent,
.testimonialsParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.testimonialsParent {
  align-self: stretch;
  gap: var(--gap-12xs);
  font-size: var(--material-2-title-size);
  color: var(--white);
  font-family: var(--material-2-secondary-text);
}
.ourCompanyParent {
  width: 210.4px;
  gap: var(--gap-6xl-8);
  color: var(--color-whitesmoke-100);
}
.frameContainer,
.frameGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frameGroup {
  width: 1162px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameContainer {
  align-self: stretch;
  justify-content: flex-start;
}
.frameIcon,
.frameIcon1,
.frameIcon2 {
  height: 18.5px;
  width: 21.6px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 19px;
  z-index: 2;
}
.frameParent1 {
  height: 18.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini-4);
  margin-top: -21.5px;
}
.frameParent,
.frameWrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}
.frameWrapper {
  width: 1279.2px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-17xl);
  box-sizing: border-box;
}
.rectangle3,
.rectangleGroup {
  align-self: stretch;
  position: relative;
}
.rectangle3 {
  height: 1px;
  background-color: var(--color-gray-700);
  z-index: 2;
}
.rectangleGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-104xl-1) 0 var(--padding-12xs-1);
  gap: var(--gap-108xl-2);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.copyrightArea {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.copyright2024 {
  width: 405.6px;
  position: relative;
  line-height: 34.9px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 2;
}
.backgroundContainer,
.rectangleParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.backgroundContainer {
  flex-direction: row;
  padding: var(--padding-14xl-8) var(--padding-17xl) var(--padding-12xl-8);
  box-sizing: border-box;
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
  font-size: var(--font-size-mid);
  font-family: var(--material-2-secondary-text);
}
.rectangleParent {
  background-color: var(--color-gray-300);
  flex-direction: column;
  gap: var(--gap-12xs-1);
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--white);
  font-family: var(--font-raleway);
}
@media screen and (max-width: 1125px) {
  .frameGroup {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1025px) {
  .frameDiv {
    gap: 68.4px 34px;
  }
}
@media screen and (max-width: 750px) {
  .contactInfoParent {
    flex: 1;
  }
  .frameDiv {
    flex-wrap: wrap;
  }
  .rectangleGroup {
    gap: 64px 127.2px;
    padding-top: var(--padding-61xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .aboutUs {
    font-size: var(--font-size-xl);
    line-height: 30px;
  }
  .aboutUsParent {
    gap: 16px 31.7px;
  }
  .contactInfo {
    font-size: var(--font-size-xl);
    line-height: 30px;
  }
  .contactInfoParent {
    min-width: 100%;
  }
  .frameDiv {
    gap: 68.4px 17px;
  }
  .ourCompany {
    font-size: var(--font-size-xl);
    line-height: 30px;
  }
  .rectangleGroup {
    gap: 32px 127.2px;
  }
}
