body {
    font-family: 'Roboto', sans-serif;
}
header{
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    height: 0.2rem;
    padding:2rem 7% ;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: 0.5s;
}
.header.sticky{
    background: #fdfdfd;;
    box-shadow: 0 .3rem 3rem rgba(0, 0, 0, 0.2);
}
.logo{
    font-size: 2rem;
    font-weight: 600;
    color: #4070f4;
    margin-right: 450px;
    cursor: default;
    text-decoration: none;
}

.navbar a{
    text-decoration: none;
    position: relative;
    font-size:1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #333;
    margin-right: 1.5rem;
    
}
.header.sticky .navbar a {
    color: #333;
}
.header.sticky .navbar a.active{
    color: #4070f4;
}
.header .sticky .navbar a.active{
    color: #4070f4;
}
.navbar a.active::before{
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    height: 0.2rem;
    background: #fdfdf4;
    bottom: -6px;
}
.header.sticky .navbar a.active::before{
    background: #4070f4;
    opacity: .7;
}
#dark-mode{
    font-size: 2.4rem;
    color: #333;
    cursor: pointer;
}
.header.sticky #dark-mode{
    color: var(--text-color);
    opacity: .9;
}
#menu-icon{
    font-size: 3.6rem;
    color: #333;
    display: none;
}
/* section{
    min-height: 100vh;
    padding: 10rem 7% 2rem;
} */
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideOutToLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
@media(max-width:1024px){
    .header{
        padding: 1rem 3%;
        top: 145px;
        height: 0.5rem;
    }
    section{
        padding: 10rem 3% 2rem;
    }
}
@media(max-width:768px){
    #menu-icon{
        display: block;
        margin-right: 3rem;
        font-size: 2rem;
        transition: transform 0.3s ease;
        /* padding-top: 5rem; */
    }
    .logo{
        margin-right: auto;
        font-size: 1.5rem;
        font-weight: 500;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 30%;
        padding: 5rem 3%;
        background: #fdfdfd;
        border-top: .1 solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        display: none;
        margin: auto;
        
        
    }
    .navbar.active{
        display: block;
        left: 0;
        animation: slideInFromLeft 0.3s ease;
    }
    .navbar:not(.active){
        animation: slideOutToLeft 0.3s ease; /* Apply slide out animation */
    }
    .navbar a{
        display: block;
        font-size: 1.2rem;
        margin: 2rem 0;
        margin-top: 8px;
        color: var(--text-color);
    }
    .navbar a .active{
        color: var(--main-color);
    }
    .navbar a::before{
        display: none;
    }
}