.product {
  width: 968px;
  border-radius: var(--br-11xl);
  background-color: var(--white);
  box-shadow: 0 10px 60px rgba(226, 236, 249, 0.5);
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-12xl-6) var(--padding-68xl) var(--padding-18xl)
    var(--padding-5xs);
  position: relative;
  gap: var(--gap-20xl);
  text-align: left;
  font-size: var(--material-2-secondary-text-size);
  color: var(--color-darkslategray-300);
  font-family: var(--body-large-regular);
}
.frame-parent56,
  .image-assemble,
  .path-intersect,
  .rectangle-parent15 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .image-assemble,
  .path-intersect {
    width: 385px;
    flex-direction: column;
    padding: var(--padding-8xs-4) var(--padding-0) var(--padding-0);
    box-sizing: border-box;
    max-width: 100%;
    font-size: var(--font-size-xs);
    color: var(--color-gray-800);
  }
  .image-assemble {
    width: 838px;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding-0) var(--padding-0) var(--padding-lg-5)
      var(--padding-xl);
    gap: var(--gap-xl);
    font-size: var(--font-size-3xl);
    color: var(--color-black);
  }
  .all-posts1 {
    margin: 0;
    width: 111px;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.01em;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .frame-parent56 {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-mini);
    flex-shrink: 0;
  }

  .frame-child32,
  .rectangle-parent14 {
    border-radius: var(--br-3xs);
    background-color: var(--color-ghostwhite-100);
  }
  .rectangle-parent14 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-6xs-9) var(--padding-5xs);
    box-sizing: border-box;
    gap: var(--gap-5xs);
    min-width: 66px;
    z-index: 1;
  }
  .rectangle-parent15 {
    height: 37.5px;
    border-radius: var(--br-3xs);
    background-color: var(--color-ghostwhite-100);
    flex-direction: row;
    padding: var(--padding-3xs-9) var(--padding-xs) var(--padding-3xs-8)
      var(--padding-mini);
    box-sizing: border-box;
    gap: var(--gap-6xs);
    white-space: nowrap;
    z-index: 1;
  }
  .frame-child31 {
    height: 37.5px;
    width: 216px;
    position: relative;
    border-radius: var(--br-3xs);
    background-color: var(--color-ghostwhite-100);
    display: none;
  }
  .search-1-icon1 {
    height: 23.7px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 24px;
    z-index: 1;
  }
  .frame-input {
    width: 42px;
    border: 0;
    outline: 0;
    background-color: transparent;
    height: 20.8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs) var(--padding-0) 1.8118839761882555e-13px;
    box-sizing: border-box;
    font-family: var(--body-large-regular);
    font-size: var(--font-size-xs);
    color: var(--color-silver);
  }
  .short-by-container {
    position: relative;
    letter-spacing: -0.01em;
    display: inline-block;
    min-width: 102px;
    z-index: 1;
  }
  .newest {
    font-weight: 600;
    color: var(--color-darkslategray-500);
  }
  .chevron-down-1-icon {
    height: 17.8px;
    width: 18px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 18px;
    z-index: 1;
  }
  .slide-transition {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: var(--padding-0) var(--padding-xs) var(--padding-0) var(--padding-0);
    box-sizing: border-box;
    max-width: 100%;
  }
  .zoom-transition {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-4xl-1);
    max-width: 100%;
  }
  .wipe-transition {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-smi-8);
    max-width: 100%;
    color: var(--color-silver);
  }
  .bounce-transition {
    align-self: stretch;
    justify-content: flex-start;
  }
  .bounce-transition,
  .frame-parent57 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent57 {
    width: 809.6px;
    justify-content: space-between;
    gap: var(--gap-xl);
    margin-left: 50px;
  }
  .proximity {
    width: 808.3px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: var(--padding-0) var(--padding-9xs);
    box-sizing: border-box;
    color: var(--color-darkslategray-300);
  }
  /* .layouts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  
  }
  .arrangements5,
  .layouts,
  .proximity {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: var(--gap-sm-1);
  }
  .layouts-child {
    align-self: stretch;
    height: 1px;
    border-top: 1px solid var(--color-whitesmoke-400);
    box-sizing: border-box;
  }
  .layouts-child,
  .marvel3 {
    position: relative;
    z-index: 1;
  }
  .layouts {
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-sm-1);
  } */
  .arrangements {
    /* width: 691px; */
    width: 809.6px;
    justify-content: flex-end;
    /* padding: var(--padding-0) var(--padding-6xl); */
    box-sizing: border-box;
    margin-left: -95px;
    margin-top: 10px;
  }
  .image-rotate-parent {
    flex: 1;
    justify-content: space-between;
    /* gap: var(--gap-xl); */
  }
  .arrangements,
  .image-rotate-parent {
    max-width: 100%;
  }
  .arrangements,
  .image-rotate-parent,
  .remove-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .image-r img{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: -15px;
    margin-bottom: 15px;
    
  }
  .remove-wrapper {
    width: 77px;
    border-radius: var(--br-9xs);
    background-color: var(--color-pink);
    border: 1px solid var(--color-red-200);
    box-sizing: border-box;
    justify-content: flex-start;
    padding: var(--padding-10xs) var(--padding-4xs);
    z-index: 2;
    color: var(--color-red-200);
  }
  .calculator {
    width: 829.8px;
    flex-direction: row;
    justify-content: flex-end;
    padding: var(--padding-0) var(--padding-xs-8) var(--padding-0)
      var(--padding-xs);
    box-sizing: border-box;
  }
  .calculator,
  .splitter1 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .splitter1 {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-10xl-6);
  }
  .splitter-inner {
    align-self: stretch;
    height: 2.3px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-0) var(--padding-8xs) var(--padding-0)
      var(--padding-11xs-7);
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-child34 {
    height: 2.3px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: contain;
    z-index: 1;
    margin-left: 35px;
  }
  .frame-parent63,
  .frame-parent64,
  .wrapper11 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .frame-parent63 {
    align-self: stretch;
    justify-content: space-between;
    gap: var(--gap-xl);
    color: var(--color-silver);
  }
  .frame-parent64 {
    width: 158.2px;
    justify-content: flex-start;
    gap: var(--gap-xs-2);
    font-size: var(--font-size-xs);
    color: var(--color-darkslategray-400);
  }
  .frame-parent67 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }

