.side-menu-item {
  width: 306px;
  height: 1132px;
  position: relative;
  background-color: var(--white);
  box-shadow: 0 10px 60px rgba(226, 236, 249, 0.5);
  display: none;
}
.setting-1-icon1 {
  width: 37px;
  height: 35px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.dashboard-f-r-a-m-e {
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.dashboard8,
.v011 {
  position: relative;
  z-index: 1;
}
.dashboard8 {
  margin: 0;
  font-size: inherit;
  letter-spacing: 0.01em;
  font-weight: 600;
  font-family: inherit;
}
.v011 {
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  min-width: 18px;
}
.dashboard-f-r-a-m-e-parent,
.v01-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.v01-container {
  flex-direction: column;
  padding: var(--padding-mid) var(--padding-0) var(--padding-0);
  font-size: var(--material-2-overline-size);
  color: var(--color-gray-100);
}
.dashboard-f-r-a-m-e-parent {
  flex-direction: row;
  padding: var(--padding-0) var(--padding-0) var(--padding-mid-4);
  gap: var(--gap-7xs);
  font-size: var(--font-size-7xl);
}
.icon-24-outline-key-squa1 {
  height: 22.7px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 23px;
  z-index: 1;
}
.dashboard9 {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  min-width: 78px;
  z-index: 1;
}
.manage-posts-dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.icon-24-outline-key-squa-group,
.side-menu-inner1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-24-outline-key-squa-group {
  align-self: stretch;
  gap: var(--gap-sm);
}
.side-menu-inner1 {
  height: 22.7px;
  padding: var(--padding-0) var(--padding-2xs);
  box-sizing: border-box;
}
.frame-child11 {
  height: 46px;
  width: 250px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-midnightblue);
  display: none;
}
.frame-icon17 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
  z-index: 1;
}
.manage-posts {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  min-width: 99px;
  z-index: 1;
}
.manage-posts-wrapper,
.rectangle-parent6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-0) var(--padding-0);
}
.rectangle-parent6 {
  align-self: stretch;
  height: 46px;
  border-radius: var(--br-5xs);
  background-color: var(--color-midnightblue);
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-smi) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-lg);
  z-index: 2;
}
.frame-icon18 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.frame-wrapper12 {
  height: 36.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi-8) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.gallery15 {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  min-width: 50px;
  z-index: 1;
}
.frame-parent33 {
  flex-direction: row;
  gap: var(--gap-smi);
}
.frame-parent32,
.frame-parent33,
.frame-wrapper11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper11 {
  flex-direction: row;
  padding: var(--padding-0) var(--padding-xs);
}
.frame-parent32 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs-2);
  color: var(--white);
}
.abebe1,
.frame-child12 {
  position: relative;
  z-index: 1;
}
.frame-child12 {
  height: 39.7px;
  width: 42px;
  border-radius: 50%;
  object-fit: cover;
  min-height: 40px;
}
.abebe1 {
  margin-bottom: -0.8999999999996362px;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
  min-width: 47px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.abebe-container {
  height: 18.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.admin1 {
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: 0.01em;
  color: var(--color-gray-200);
  display: inline-block;
  min-width: 40px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.frame-parent35 {
  flex-direction: column;
}
.ellipse-group,
.frame-parent35,
.frame-wrapper13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper13 {
  flex-direction: column;
  padding: var(--padding-11xs-9) var(--padding-0) var(--padding-0);
}
.ellipse-group {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xs);
}
.chevron-down-2-icon2 {
  width: 24px;
  height: 22.7px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.chevron-down-2-container {
  height: 31.2px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-4xs-5) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.chevron-down-2-container,
.frame-parent34,
.side-menu1 {
  display: flex;
  align-items: flex-start;
}
.frame-parent34 {
  align-self: stretch;
  height: 39.7px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.side-menu1 {
  height: 1132px;
  width: 306px;
  background-color: var(--white);
  box-shadow: 0 10px 60px rgba(226, 236, 249, 0.5);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-15xl) var(--padding-7xl) var(--padding-52xl-8);
  box-sizing: border-box;
  gap: var(--gap-24xl);
  text-align: left;
  font-size: var(--material-2-secondary-text-size);
  color: var(--color-black);
  font-family: var(--body-large-regular);
}
@media screen and (max-width: 450px) {
  .dashboard8 {
    font-size: var(--font-size-2xl);
  }
  .side-menu1 {
    gap: 21px 43px;
  }
}
