.connect-us1 {
  position: relative;
  display: inline-block;
  white-space: pre-wrap;
  min-width: 121px;
}
.connect-us-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-31xl);
}
.fill-the-form1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-smi);
  letter-spacing: 0.01em;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-gray-400);
  text-align: left;
}
.audio-processor,
.path-follower {
  width: 100%;
  border: 0;
  outline: 0;
  align-self: stretch;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  font-weight: 500;
  color: var(--color-darkgray-100);
}
.path-follower {
  background-color: transparent;
  padding: var(--padding-xs) var(--padding-11xl);
  font-family: var(--font-inter);
  font-size: var(--material-2-title-size);
  min-width: 149px;
}
.audio-processor {
  background-color: var(--white);
  border-radius: var(--br-7xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: var(--padding-xs) var(--padding-lg);
  min-width: 131px;
}
.audio-processor,
.email4,
.submit1 {
  font-size: var(--material-2-title-size);
  font-family: var(--font-inter);
}
.email4 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--white);
  align-self: stretch;
  height: 43px;
  border-radius: var(--br-7xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-mini);
  box-sizing: border-box;
  font-weight: 500;
  color: var(--color-darkgray-100);
  min-width: 131px;
}
.submit1 {
  position: relative;
  letter-spacing: -0.01em;
  display: inline-block;
  color: var(--white);
  text-align: left;
  min-width: 55px;
}
.button5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-17xl);
  background-color: var(--color-midnightblue);
  border-radius: var(--br-7xs);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.external-interface {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-22xl);
}
.external-interface,
.image-processor,
.image-processor-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-processor {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lgi);
}
.image-processor-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-sm) var(--padding-0)
    var(--padding-base);
}
.graph-builder {
  margin: 0;
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-lgi);
}
.graph-builder,
.matrix-processor,
.timer1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.matrix-processor {
  width: 249px;
  flex-direction: column;
  gap: var(--gap-base);
}
.timer1 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-31xl) var(--padding-lgi);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
