@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --material-2-secondary-text: Roboto;
  --font-raleway: Raleway;
  --font-inter: Inter;
  --font-manrope: Manrope;
  --font-lora: Lora;
  --font-source-code-pro: "Source Code Pro";
  --body-large-regular: Poppins;

  /* font sizes */
  --font-size-mid: 17px;
  --material-2-title-size: 16px;
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-2xs: 11px;
  --material-2-overline-size: 10px;
  --font-size-lg: 18px;
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --material-2-secondary-text-size: 14px;
  --font-size-5xl: 24px;
  --font-size-11xl: 30px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-10xl: 29px;
  --heading-size: 28px;
  --font-size-xs: 12px;
  --font-size-2xl: 21px;

  /* Colors */
  --white: #fff;
  --foreground-oncolor: #fcfcfd;
  --color-gray-100: #838383;
  --color-gray-200: #757575;
  --color-gray-300: #202020;
  --color-gray-400: #1b1b1b;
  --foreground-high: #101828;
  --light-on-surface-high-emphasis: rgba(0, 0, 0, 0.87);
  --light-on-surface-medium-emphasis: rgba(0, 0, 0, 0.6);
  --light-outline: rgba(0, 0, 0, 0.12);
  --color-gray-500: rgba(0, 0, 0, 0.8);
  --color-gray-600: rgba(0, 0, 0, 0.04);
  --color-gray-700: rgba(250, 250, 250, 0.16);
  --color-whitesmoke-100: #f5f5f5;
  --color-whitesmoke-200: #f2f2f2;
  --color-whitesmoke-300: rgba(245, 245, 245, 0.8);
  --color-dimgray-100: #666;
  --text-secondary: #5a5a5d;
  --color-dimgray-200: #565656;
  --color-black: #000;
  --color-midnightblue: #182c92;
  --foreground-low: #98a2b3;
  --color-darkgray-100: #9ca0aa;
  --light-primary: #5956eb;
  --foreground-default: #344054;
  --color-darkslategray-100: #3c3c43;
  --color-gainsboro: rgba(222, 222, 222, 0.5);
  --foreground-primary: #1570ef;
  --container-primary-low: #d1e9ff;
  --outline-default: #d0d5dd;
  --color-ghostwhite: #fafbff;

  /* Gaps */
  --gap-113xl: 132px;
  --gap-14xl: 33px;
  --gap-47xl: 66px;
  --gap-17xl-3: 36.3px;
  --gap-lg: 18px;
  --gap-mini-4: 14.4px;
  --gap-xl: 20px;
  --gap-8xl-7: 27.7px;
  --gap-11xs-1: 1.1px;
  --gap-49xl-4: 68.4px;
  --gap-8xl-5: 27.5px;
  --gap-15xl-1: 34.1px;
  --gap-mid: 17px;
  --gap-31xl: 50px;
  --gap-5xs: 8px;
  --gap-5xs-5: 7.5px;
  --gap-12xs: 1px;
  --gap-2xs: 11px;
  --gap-6xl: 25px;
  --gap-base: 16px;
  --gap-92xl-2: 111.2px;
  --gap-37xl: 56px;
  --gap-9xl: 28px;
  --gap-66xl: 85px;
  --gap-23xl: 42px;
  --gap-13xl: 32px;
  --gap-59xl: 78px;
  --gap-20xl: 39px;
  --gap-2xl: 21px;
  --gap-85xl-1: 104.1px;
  --gap-15xl: 34px;
  --gap-4xl: 23px;
  --gap-xs: 12px;
  --gap-sm-2: 13.2px;
  --gap-6xl-3: 25.3px;
  --gap-52xl: 71px;
  --gap-16xl: 35px;
  --gap-5xl: 24px;
  --gap-7xs: 6px;
  --gap-198xl: 217px;
  --gap-35xl: 54px;
  --gap-89xl: 108px;
  --gap-94xl: 113px;
  --gap-8xl: 27px;
  --gap-39xl: 58px;
  --gap-smi: 13px;
  --gap-9xs: 4px;
  --gap-12xs-1: 0.1px;
  --gap-14xl-8: 33.8px;
  --gap-108xl-2: 127.2px;
  --gap-45xl: 64px;
  --gap-6xl-8: 25.8px;
  --gap-6xl-6: 25.6px;
  --gap-12xl-7: 31.7px;
  --gap-7xl: 26px;
  --gap-8xs: 5px;
  --gap-50xl: 69px;
  --gap-24xl: 43px;
  --gap-xs-2: 11.2px;
  --gap-sm: 14px;

  /* Paddings */
  --padding-112xl-9: 131.9px;
  --padding-15xl-1: 34.1px;
  --padding-37xl: 56px;
  --padding-xl: 20px;
  --padding-67xl: 86px;
  --padding-3xl: 22px;
  --padding-17xl: 36px;
  --padding-8xs-3: 4.3px;
  --padding-33xl: 52px;
  --padding-148xl-2: 167.2px;
  --padding-7xl: 26px;
  --padding-90xl: 109px;
  --padding-5xs: 8px;
  --padding-13xl: 32px;
  --padding-77xl: 96px;
  --padding-59xl: 78px;
  --padding-60xl: 79px;
  --padding-43xl: 62px;
  --padding-20xl: 39px;
  --padding-52xl: 71px;
  --padding-sm: 14px;
  --padding-14xl: 33px;
  --padding-xs: 12px;
  --padding-mini: 15px;
  --padding-12xs: 1px;
  --padding-11xs: 2px;
  --padding-10xs: 3px;
  --padding-148xl: 167px;
  --padding-282xl-9: 301.9px;
  --padding-26xl: 45px;
  --padding-316xl-5: 335.5px;
  --padding-132xl: 151px;
  --padding-21xl: 40px;
  --padding-56xl: 75px;
  --padding-10xl: 29px;
  --padding-64xl: 83px;
  --padding-6xl: 25px;
  --padding-15xl-9: 34.9px;
  --padding-11xl: 30px;
  --padding-84xl: 103px;
  --padding-48xl: 67px;
  --padding-7xs: 6px;
  --padding-32xl-9: 51.9px;
  --padding-base: 16px;
  --padding-9xs-9: 3.9px;
  --padding-7xs-7: 5.7px;
  --padding-8xl: 27px;
  --padding-123xl: 142px;
  --padding-73xl: 92px;
  --padding-41xl: 60px;
  --padding-5xl: 24px;
  --padding-9xs: 4px;
  --padding-16xl: 35px;
  --padding-51xl: 70px;
  --padding-322xl: 341px;
  --padding-203xl: 222px;
  --padding-base-7: 16.7px;
  --padding-150xl: 169px;
  --padding-5xs-7: 7.7px;
  --padding-142xl: 161px;
  --padding-61xl: 80px;
  --padding-65xl: 84px;
  --padding-6xs-5: 6.5px;
  --padding-5xs-3: 7.3px;
  --padding-sm-3: 13.3px;
  --padding-sm-4: 13.4px;
  --padding-smi: 13px;
  --padding-smi-3: 12.3px;
  --padding-22xl: 41px;
  --padding-12xl-8: 31.8px;
  --padding-104xl-1: 123.1px;
  --padding-12xs-1: 0.1px;
  --padding-9xl: 28px;
  --padding-88xl: 107px;
  --padding-101xl: 120px;
  --padding-14xl-8: 33.8px;
  --padding-53xl: 72px;
  --padding-29xl: 48px;
  --padding-3xs: 10px;
  --padding-lg: 18px;
  --padding-15xl: 34px;
  --padding-52xl-8: 71.8px;
  --padding-4xs-5: 8.5px;
  --padding-11xs-9: 1.9px;
  --padding-smi-8: 12.8px;
  --padding-2xs: 11px;
  --padding-mid-4: 17.4px;
  --padding-mid: 17px;
  --padding-57xl: 76px;
  --padding-4xs: 9px;
  --padding-736xl: 755px;

  /* Border radiuses */
  --br-11xs: 2px;
  --br-7xs: 6px;
  --br-base: 16px;
  --br-8xs: 5px;
  --br-xs: 12px;
  --br-19xl: 38px;
  --br-xl: 20px;
  --br-5xs: 8px;
}
